.box
{
    width: auto;
    height: auto;
    border: 2px solid;
    border-radius: 10px;
    text-align: center;
    float: left;
    margin: 20px;
    padding: 20px 40px;
}

.heading
{
    text-decoration:underline;
    color:blue;
    font-size: medium;
}

.price
{
    color:red;
}

.price span
{
    text-decoration: line-through;
}

.discount
{
    color:green;
}

.brand
{
    color:aquamarine;
}

img
{
    width: 80px;
    height: 80px;
}